# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

watchlist:

insecure

Black Mirror

Apollo 10 1/2

Seinfield

You're the Worst

The Patient

Werewolves Within

I'm Totally Fine

better things

Casual

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [7]:
import pandas as pd

df = pd.read_csv('tv_shows.csv')

print("Info for the original DataFrame:")
print(df.info())

Info for the original DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
None

In [8]:
df = df.drop(columns=['Unnamed: 0'])
df = df.rename(columns={
    'Rotten Tomatoes': 'Rotten_Tomatoes',
    'Prime Video' : 'Prime_Video',
    'Disney+': 'Disney_Plus'
})
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   Disney_Plus      5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB
None

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [9]:
conn = sqlite3.connect('tv.db')

df.to_sql('shows', conn, if_exists='replace', index=False)

5368

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [10]:
conn = sqlite3.connect('tv.db')

sql = 'SELECT * FROM shows LIMIT 20'

df_top_20 = pd.read_sql_query(sql, conn)

conn.close()

print(df_top_20)

    ID                       Title  Year  Age    IMDb Rotten_Tomatoes  \
0    1                Breaking Bad  2008  18+  9.4/10         100/100
1    2             Stranger Things  2016  16+  8.7/10          96/100
2    3             Attack on Titan  2013  18+  9.0/10          95/100
3    4            Better Call Saul  2015  18+  8.8/10          94/100
4    5                        Dark  2017  16+  8.8/10          93/100
5    6  Avatar: The Last Airbender  2005   7+  9.3/10          93/100
6    7              Peaky Blinders  2013  18+  8.8/10          93/100
7    8            The Walking Dead  2010  18+  8.2/10          93/100
8    9                Black Mirror  2011  18+  8.8/10          92/100
9   10          The Queen's Gambit  2020  18+  8.6/10          92/100
10  11                  Mindhunter  2017  18+  8.6/10          90/100
11  12                   Community  2009   7+  8.5/10          90/100
12  13                      Narcos  2015  18+  8.8/10          90/100
13  14                   Shameless  2011  18+  8.5/10          90/100
14  15                 Money Heist  2017  18+  8.3/10          90/100
15  16          Marvel's Daredevil  2015  18+  8.6/10          90/100
16  17                     Lucifer  2016  16+  8.1/10          90/100
17  18                Supernatural  2005  16+  8.4/10          89/100
18  19                 The Witcher  2019  18+  8.2/10          89/100
19  20                       Ozark  2017  18+  8.4/10          89/100

    Netflix  Hulu  Prime_Video  Disney_Plus  Type
0         1     0            0            0     1
1         1     0            0            0     1
2         1     1            0            0     1
3         1     0            0            0     1
4         1     0            0            0     1
5         1     0            1            0     1
6         1     0            0            0     1
7         1     0            0            0     1
8         1     0            0            0     1
9         1     0            0            0     1
10        1     0            0            0     1
11        1     1            1            0     1
12        1     0            0            0     1
13        1     1            1            0     1
14        1     0            0            0     1
15        1     0            0            0     1
16        1     0            0            0     1
17        1     0            0            0     1
18        1     0            0            0     1
19        1     0            0            0     1

Now add a table that includes an id number and the titles on your watchlist.

In [11]:
watchlist_titles = [
    'insecure', 'Black Mirror', 'Apollo 10 1/2', 'Seinfeld',
    "You're the Worst", 'The Patient', 'Werewolves Within',
    "I'm Totally Fine", 'Better Things', 'Casual'
]


watchlist_df = pd.DataFrame({'id': range(1, len(watchlist_titles) + 1), 'title': watchlist_titles})


conn = sqlite3.connect('tv.db')


watchlist_df.to_sql('watchlist', conn, if_exists='replace', index=False)


conn.close()

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [16]:
import pandas as pd

conn = sqlite3.connect('tv.db')


shows_df = pd.read_sql_query("SELECT * FROM shows", conn)


conn.close()


streaming_services = ['Netflix', 'Hulu', 'Prime_Video', 'Disney_Plus']


total_shows = len(shows_df)


for service in streaming_services:
    
    service_count = shows_df[shows_df[service] == 1]['ID'].count()
    
    
    service_percentage = (service_count / total_shows) * 100
    
    print(f"Streaming Service: {service}")
    print(f"Number of shows: {service_count}")
    print(f"Percentage of shows: {service_percentage:.2f}%\n")

Streaming Service: Netflix
Number of shows: 1971
Percentage of shows: 36.72%

Streaming Service: Hulu
Number of shows: 1621
Percentage of shows: 30.20%

Streaming Service: Prime_Video
Number of shows: 1831
Percentage of shows: 34.11%

Streaming Service: Disney_Plus
Number of shows: 351
Percentage of shows: 6.54%

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [20]:
conn = sqlite3.connect('tv.db')

joined_df = pd.read_sql_query('''
    SELECT w.title AS watchlist_title, s.*
    FROM watchlist w
    LEFT JOIN shows s ON w.title = s.title
''', conn)

joined_df.to_sql('watchlist_shows', conn, if_exists='replace', index=False)


print("Data in the joined table:")
print(joined_df)

# percentage for each streaming service
streaming_services = ['Netflix', 'Hulu', 'Prime_Video', 'Disney_Plus']
for service in streaming_services:
    total_watchlist_shows = len(watchlist_df)
    shows_on_service = len(joined_df[joined_df[service] == 1])
    percentage_on_service = (shows_on_service / total_watchlist_shows) * 100
    print(f"\nPercentage of watchlist shows on {service}: {percentage_on_service:.2f}%")
    print(f"Number of watchlist shows on {service}: {shows_on_service}")

conn.close()

Data in the joined table:
     watchlist_title      ID             Title    Year   Age    IMDb  \
0           insecure     NaN              None     NaN  None    None
1       Black Mirror     9.0      Black Mirror  2011.0   18+  8.8/10
2      Apollo 10 1/2     NaN              None     NaN  None    None
3           Seinfeld  1962.0          Seinfeld  1989.0   16+  8.8/10
4   You're the Worst  2103.0  You're the Worst  2014.0   18+  8.1/10
5        The Patient     NaN              None     NaN  None    None
6  Werewolves Within     NaN              None     NaN  None    None
7   I'm Totally Fine     NaN              None     NaN  None    None
8      Better Things  2131.0     Better Things  2016.0   18+  7.8/10
9             Casual  2249.0            Casual  2015.0   18+  7.5/10

  Rotten_Tomatoes  Netflix  Hulu  Prime_Video  Disney_Plus  Type
0            None      NaN   NaN          NaN          NaN   NaN
1          92/100      1.0   0.0          0.0          0.0   1.0
2            None      NaN   NaN          NaN          NaN   NaN
3          93/100      0.0   1.0          0.0          0.0   1.0
4          77/100      0.0   1.0          0.0          0.0   1.0
5            None      NaN   NaN          NaN          NaN   NaN
6            None      NaN   NaN          NaN          NaN   NaN
7            None      NaN   NaN          NaN          NaN   NaN
8          75/100      0.0   1.0          0.0          0.0   1.0
9          70/100      0.0   1.0          0.0          0.0   1.0

Percentage of watchlist shows on Netflix: 10.00%
Number of watchlist shows on Netflix: 1

Percentage of watchlist shows on Hulu: 40.00%
Number of watchlist shows on Hulu: 4

Percentage of watchlist shows on Prime_Video: 0.00%
Number of watchlist shows on Prime_Video: 0

Percentage of watchlist shows on Disney_Plus: 0.00%
Number of watchlist shows on Disney_Plus: 0

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present? No. Either they have been removed from the streaming service or the titles don't match.Â 
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis? That particular streaming service would have a higher percentage of my watchlist.Â 
3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least? Hulu offered the most; Prime and Disney both the least (0%).
4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you? Hulu